#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
input[type=submit] {
    background-color: #0657b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: rgb(11, 2, 133);
    color: #ffffff;
    border: 1px solid #023d80;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button:hover
 {
    color: white;
    background-color: gray;
}
button:active
{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.submit
{
    border : 0;
    background-color: powderblue ;
    display:block;
    margin: auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 8px 14px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.submit:active
{
    background: #2cabcf;
    text-shadow: 0 -1px #eee;
    border: 1px solid #1f6b81;
}

header
{
    font-size: 15px ;
    text-align: center;
    background: #52575a ;
    color: #ffffff;
    padding-top: 1em;
    border-bottom: solid 1px lightgray;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 4px #000000;

    
}


h1
{
    padding-bottom: 1em;
}

footer.copy
{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 200px;    
}


.form
{

    width: 95%;
    margin-left: 2%;
    outline-style: solid;
    outline-color: rgb(114, 113, 113), 255;
}


a.titredon
{
    text-decoration: none;
    text-shadow: 2px 2px 0 white,
    4px 4px 0 black;
    letter-spacing: 2px;
    font: bold 50px Impact, sans-serif;
    color: black;
}


a.titredon:hover
{
    text-decoration-line: underline; 
    text-shadow: 2px 2px 0 white,
    4px 4px 0 black;
    letter-spacing: 2px;
    font: bold 50px Impact, sans-serif;
    color: rgb(23, 116, 255);
}

.textform
{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;

}